@media (max-width: 600px) {
    .app-content-grid {
        display: flex;
        flex-direction: column;
    }

    .app-content-grid>.panel:not(.file-tree-panel) {
        flex: 1;
    }

    .header-tagline {
        display: none;
    }

    .repo-loader-form input {
        width: 100%;
    }

    .app-content-grid>.error-boundary:has(.file-tree-panel) {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .app-content-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "filetree main"
            "filetree analysis";
    }

    .app-content-grid>.error-boundary:nth-of-type(1) {
        grid-area: filetree;
    }

    .app-content-grid>.error-boundary:nth-of-type(2) {
        grid-area: main;
        min-height: 0;
    }

    .app-content-grid>.error-boundary:nth-of-type(3) {
        grid-area: analysis;
        min-height: 0;
    }
}

@media (min-width: 961px) {
    .app-content-grid {
        grid-template-columns: 300px 1fr 400px;
    }
}